.hero {
  padding: 0 64px;
  width: 100%;
  height: 696px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("/1x.webp");
  background-repeat: no-repeat;
  background-position: center;
}

.innerWrapper {
  margin-bottom: 40px;
}
